body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #47596c;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to top left, #9f6bbd, #c798e3);
}

.main-div {
  width: 60%;
  height: 85%;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to top left, #292364, rgb(80, 15, 94));
  box-shadow: 0 0 2px #333;
}

.stopwatch {
  font-size: 3rem;
  margin-bottom: 3rem;
  height: 15rem;
  width: 15rem;
  border-radius: 100%;
  box-shadow: 0 0 5px rgb(255, 255, 255, 0.4);
  background: transparent;
  position: relative;
}

.time {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ring {
  height: 15rem;
  width: 15rem;
  border-radius: 100%;
  box-shadow: 0 4px 0 #fff;
}

.ring.animated {
  animation: animate 1s linear infinite;
}

.all-btn {
  display: flex;
}

.btn {
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  border: 1px solid #c798e3;
  outline: none;
  position: relative;
  background: transparent;
}

.btn:hover {
  background: #daa3df;
  transform: translateY(-0.2rem);
  transition: all 0.5s;
  transform: translateX(-50);
}

.btn > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.start,
.pause {
  margin-right: 2rem;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1024px) {
  .main-div {
    width: 70%;
    height: 80%;
  }

  .btn:hover {
    transform: translateY(-0.1rem);
  }

  .start,
  .pause {
    margin-right: 1rem;
  }
}

@media (max-width: 600px) {
  .main-div {
    width: 90%;
    height: 85%;
  }
}

@media (max-width: 320px) {
  .main-div {
    width: 90%;
    height: 90%;
  }
}

@media (max-width: 280px) {
  .main-div {
    width: 85%;
    height: 90%;
  }

  .stopwatch {
    font-size: 2rem;
    margin-bottom: 3rem;
    height: 10rem;
    width: 10rem;
  }

  .ring {
    height: 10rem;
    width: 10rem;
  }

  .btn {
    height: 2rem;
    width: 2rem;
  }

  .icon {
    font-size: 0.8rem;
  }
}

/* LANDSCAPE */
@media (max-height: 414px) {
  .main-div {
    width: 85%;
    height: 90%;
  }

  .stopwatch {
    font-size: 2rem;
    margin-bottom: 3rem;
    height: 10rem;
    width: 10rem;
  }

  .ring {
    height: 10rem;
    width: 10rem;
  }

  .btn {
    height: 2rem;
    width: 2rem;
  }

  .icon {
    font-size: 0.8rem;
  }
}

@media (max-height: 280px) {
  .stopwatch {
    font-size: 1.8rem;
    margin-bottom: 1.9rem;
    height: 9rem;
    width: 9rem;
  }

  .ring {
    height: 9rem;
    width: 9rem;
  }

  .btn {
    height: 1.9rem;
    width: 1.9rem;
  }

  .icon {
    font-size: 0.7rem;
  }
}
